<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963242886717-4iq493h4kqc7l735ad5ibunn1nu7anvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963242886717-4iq493h4kqc7l735ad5ibunn1nu7anvu</string>
	<key>API_KEY</key>
	<string>AIzaSyBCFE8ZAl02Vd1rBwHlV7UCPze3QI6-wfs</string>
	<key>GCM_SENDER_ID</key>
	<string>963242886717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MessageAPP</string>
	<key>PROJECT_ID</key>
	<string>chatapp-a57b6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-a57b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963242886717:ios:d6326b6f2795272961cc54</string>
</dict>
</plist>